.form {
  margin-bottom: 36px;

  &__actions {
    position: fixed; 
    bottom: 0; 
    left:0; 
    width: 100%;
    
    & span {
      font-family: $fontPrimary;
      font-size: 12px;
    }
    
    &__card {
      display: flex;
      justify-content: flex-end;
      padding: 5px 45px;
      text-transform: uppercase;
    }
  }
}