.page {
  padding: 78px 71.5px 8px;

  &__header {
    padding: 0;
    font-weight: 700;
    font-size: $sizeTextPageHeader;
    letter-spacing: 0.72px;
    display: flex;

    img {
      align-self: center;
      transform: translate(-16px, -10px);
    }
  }
}