.sidebar {
  background-color: $bgSidebar;
  max-width: $sideBarWidth;
  z-index: 100;
  &--collapse {
    max-width: 64px;
  }
  transition: all .5s;

  &__container {
    position: fixed;
    width: $sideBarWidth;
    min-height: 100vh;
  }

  &__header {
    margin: 28px 0;
    padding: 0 21px;
    display: flex;

    &__avatar {
      height: 70px;
      width: 61px;
      margin-left: 4px;
      margin-bottom: 6px;
      background-color: transparent;
      transition: all .5s;
      img {
        padding: 8px 6px;
      }
      &--collapse {
        @extend .px-0;
        @extend .mx-0;
      }
    }
    &__separator {
      margin: 4px 12.5px;
      border: 1px solid $colorBorder;
      height: 51px;
      align-self: flex-end;
    }
    &__info {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--title {
        @extend .text-accent;
        font-size: 18px;
      }
      &--caption {
        @extend .text-caption;
        letter-spacing: 0.2px;
      }
    }
  }

  &__subheader {
    display: flex;
    justify-content: space-between;
    padding: 22px;

    &__info {
      &--title {
        @extend .text-accent;
        font-size: 17px;
      }
      &--caption {
        margin: 4px 0 14px;
        @extend .text-caption;
        font-size: 11px !important;
      }
      img {
        padding-right: 9px;
      }
      span {
        color: $--color-primary;
        font-weight: 700;
        font-size: 20px;
      }
    }
    & img.logout-icon {
      align-self: flex-start;
    }
  }

  &__menu {
    transition: all .5s;
    &--text {
      text-transform: uppercase;
      @extend .text-accent;
    }
  }

  &__collapse-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

.el-menu-item {
  height: 41px;
  line-height: 3;
  margin: 9px 0;
  font-size: 12px;
  &.is-active span {
    color: $--color-primary !important;
  }
}

.el-button--small {
  padding: 6px;
}

.btn-collapse {
  transition: transform .25s;
}
.btn-is-collapse {
  transform: rotate(180deg);
}

