$fontPrimary: 'Asap', sans-serif;

$colorBorder: #C0C4CC;

$colorTextCaption: #909399;
$sizeTextCaption: 10px;

$colorTextAccent: #415061;

$sizeTextPageHeader: 36px;

$bgBody: #f9f9f9;
$bgSidebar: #FCFDFF;

$sideBarWidth: 241px;

$--color-primary: #1283FF;