$fontPrimary: 'Open Sans';

$colorBorder: #C0C4CC;

$colorTextCaption: #909399;
$sizeTextCaption: 12px;

$sizeTextPageHeader: 36px;

$bgBody: #f9f9f9;
$bgSidebar: #fafafa;

$sideBarWidth: 240px;

$--color-primary: #409EFF;